.SearchInput {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.SearchIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 1rem;
}

.FormControl {
  background-color: transparent;
  border: none;
  font-family: 'Metropolis Regular', sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  width: 40rem;
}
